            /* GÉNÉRAL */

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #fff;
}
a{
    text-decoration: none;
    color: #000;
}
body{
  --main-font: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
        /* NAV */
   
.container--nav{
    width: 100%;
    height: 100px;
    background: #d6d5d5;
    top: -37px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
.container--nav .search--feature{
    background: none;
    width: 200px;
    top: 15px;
    position: absolute;
    right: 250px;
}
.container--nav .search--icon{
    width: 30px;
    height: 30px;
    position: relative;
    top: 42px;
    left: 260px;
    z-index: 10;
}
.container--nav input{
    width: 300px;
    height: 40px;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
}
.container--nav input::placeholder{
    position: relative;
    font-style: italic;
}            
.container--nav .account--icon{
    width: 45px;
    height: 45px;
    background: none;
    position: absolute;
    right: 10px;
    margin-top: 49px;
    z-index: 1000;
}
.container--nav .account--icon img{
    width: 100%;
    height: 100%;
}
.container--nav .rightside-nav{
    position: absolute;
    right: 60px;
}
.container--nav .cart--icon{
    width: 42px;
    height: 42px;
    background: none;
    position: absolute;
    margin-top: 50px;
    z-index: 1000;
}
.container--nav .cart--icon img{
    width: 100%;
    height: 100%;
}
.container--nav img{
    background: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.container--nav button{
    border: none;
    background: none;
}
.container--nav nav{
    position: fixed;
    width: 20vw;
    min-width: 350px;
    top: 0px;
    padding: 20px;
    z-index: 1000;
    display: flex;
    background: none;
}
.container--nav nav a{
    font-family: 'Open Sans', sans-serif;
    background: none;
    padding: 0 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    width: 200px;
    cursor: pointer;
}
.container--nav nav a:hover{
    color: #5e5e5e;
}
.container--nav nav .edenLogo{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Ibarra Real Nova', serif;
    position: relative;
    top: -8px;
}
.navBurger{
    width: 20vw;
    min-width: 250px;
    height: 100vh;
    padding: 10px;
    margin-top: 63px;
    left: -700px;
    z-index: 1000;
    border-right: 0.5px solid #1b1b1b;
    border-top: 0.5px solid #1b1b1b;
    transition: left 0.5s cubic-bezier(0.50, 0.11, 0.67, .84);
}
.navBurger.active{
    left: 0;
    display: block;
    background-color: #d6d5d5;
    width: 30vw;
    min-width: 270px;
}
.navBurger a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navBurger.active a{
    display: flex;
    padding: 15px 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.container--nav nav .becomeMember{
    flex: 0 0 auto
}
.container--nav .nav-toggler{
    position: fixed;
    z-index: 1000;
    top: 8px;
    left: 25px;
    height: 50px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    display: none;
}
.container--nav .line{
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.navBurger.active .edenLogo{
    font-size: 36px;
    font-family: 'Ibarra Real Nova', serif;
}
.container--nav .l1{
    transform: translateY(-10px);
}
.container--nav .nav-toggler.active .l1{
    transform: translateY(0) rotate(135deg);
}
.container--nav .nav-toggler.active .l2{
    opacity: 0;
}
.container--nav .nav-toggler.active .l3{
    transform: translateY(0) rotate(-135deg);
}
.container--nav .l3{
    transform: translateY(10px);
}
@media screen and (max-width: 750px) {
    .container--nav nav a{
        padding: 0 10px;
    }
}
@media screen and (max-width:650px){
    .container--nav .nav-toggler{
        display: block;
    }
    .container--nav nav a{
        display: none;
    }
}
            
            
            
            /* ENTÊTE */ 

.slogan{
    font-family: 'Cormorant SC', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 75px;
    background: none;
}
.fil-ariane-homepage{
    margin-left: 100px;
    position: relative;
    top: 100px;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--main-font);
    background: none;
}

            /* SLIDER HOMEPAGE */


#slider-sneakers-homepage{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    width: 650px;
    height: 300px;
    object-fit: none;
}
.image-sneakers-homepage img{
    opacity: 0;
    height: 100%;
    min-height: 350px;
    width: 75%;
    display: none;
    margin: 0 auto;
}
#slider-sneakers-homepage .active-sneakers-homepage{
    opacity: 1;
    display: block;
    height: 100%;
    animation: switchSlide 0.5s ease-in-out;
}

.back, .next{
    width: 200px;
    height: 200px;
    opacity: 1;
    display: block;
    cursor: pointer;
    background: none;
}
.arrows-sneakers-homepage{
    display: flex;
    justify-content: space-between;
    width: 850px;
    position: relative;
    left: -100px;
    top: -400px;
    background: none;
}

.tracker-sneakers-homepage div{
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
    background: #C8C8C8;
}
.tracker-sneakers-homepage{
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 30px;
    animation: switchTracker 1s ease-in-out;
}
.tracker-sneakers-homepage .active-tracker-homepage{
    width: 40px;
    height: 40px;
    background: #242424;
    animation: switchTrackerPos 0.7s ease-in-out;
}
@keyframes switchTracker {
    from{
        position: relative;
        top: -100px;
        opacity: 0;
    }
    to{
        position: relative;
        top: -01;
        opacity: 1;
    }
}
@keyframes switchTrackerPos {
    from{
        position: relative;
        opacity: 0;
    }
    to{
        position: relative;
        top: -01;
        opacity: 1;
    }
}
@keyframes switchSlide {
    from{
        position: relative;
        top: -100px;
        opacity: 0;
    }
    to{
        position: relative;
        top: 0px;
        opacity: 1;
    }
}

            /* MEMBRES BANNER */

.membres{
    width: 100vw;
    height: 75px;
    background: #C8C8C8;
    position: relative;
    top: 420px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.membres p{
    font-family: var(--main-font);
    font-size: 16px;
    background: none;
    position: relative;
    top: 0px;
}
.membres p span{
    font-weight: bold;
    background: none;
    text-decoration: underline;
}


            /* DERNIERES SORTIES */

#dernieres--sorties{
    background: none;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 350px;
    font-family: var(--main-font);
}
#dernieres--sorties h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    font-family: 'Georgia';
    font-size: 26px;
    color: #000;
}
#dernieres--sorties h4{
    margin-top: 70px;
    font-style: italic;
    font-size: 18px;
}
.image-dernieres-sorties{
    width: 400px;
    height: 500px;
}
.dernieres-sorties1{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.dernieres-sorties2{
    position: relative;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}
#dernieres--sorties a{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    background: #796B6B;
    border-radius: 15px;
    height: 52px;
    width: 240px;
}


            /* EXCLU MEMBRE */

#exclu-membre{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
    font-family: var(--main-font);
}
#exclu-membre h2{
    font-size: 22px;
}
#exclu-membre h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    font-family: 'Georgia';
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

#exclu-membre img{
    width: 400px;
    height: 500px;
    margin: 100px;
}
#exclu-membre .exclu-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

            /* CLUB MEMEBRE */

#club--membre{
    margin: 40px 100px;
    font-family: var(--main-font);
    background: none;
    color: #000;
}
#club--membre h3{
    font-size: 22px;
    color: #000;
}
#club--membre span{
    text-decoration: underline;
}
#club--membre .membre--banner{
    height: 550px;
    width: 100%;
    background: #C8C8C8;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
}
#club--membre .membre--banner h3{
    position: relative;
    top: -60px;
    background: none;
    font-size: 26px;
    color: #000;
}
#club--membre .membre--banner span{
    background: none;
    margin: 0px 6px;
}
#club--membre .membre--banner ul, #club--membre .membre--banner li, #club--membre .membre--banner p{
    background: none;
}
#club--membre .membre--banner ul, #club--membre .membre--banner li{
    list-style:inside;
    font-size: 18px;
}
#club--membre .membre--banner ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
}
#club--membre .membre--banner li{
    padding: 10px 0;
}
#club--membre .membre--banner p{
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: 40px;
}
#club--membre .membre--banner a{
    font-size: 24px;
    padding: 20px 30px;
    display: block;
    background: #796B6B;
    border-radius: 15px;
    color: #fff;
    position: relative;
    top: 60px;
}


            /* SOON */

#bientot--disponible{
    margin: 100px;
    font-family: var(--main-font);
}
#bientot--disponible h2{
    font-size: 22px;
}
#bientot--disponible h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    font-family: 'Georgia';
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
#bientot--disponible h4{
    margin-top: 90px;
    font-style: italic;
    font-size: 18px;
}
#bientot--disponible img{
    display: block;
    margin: 30px auto;
    position: relative;
    width: 500px;
    height: 600px;
}
#bientot--disponible .p1, #bientot--disponible .p2{
    font-size: 20px;
    margin-top: 30px;
}
#bientot--disponible a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 72px;
    width: 225px;
    padding: 20 35px;
    margin: 0 auto;
    border-radius: 15px;
    background: #796B6B;
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
}

            /* FAVORIS */

#favoris{
    font-family: var(--main-font);
    margin: 100px;
}
#favoris h2{
    font-size: 22px;
}
.favorites-sneakers{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    flex-wrap: wrap;
}
.allFavorites{
    height: 500px;
    width: 100%;
}
#favoris h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    width: 80vw;
    min-width: 500px;
    color: #000;
}
.favContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.favorisDiv{
    width: 330px;
    height: 450px;
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
}
.heart-icon {
	width: 43px;
	height: 37px;
    background: none;
}
.favorisDiv .remove-to-favorite{
    border: none;
	fill: red;
    position: absolute;
    transform: translate(270px, 15px);
    cursor: pointer;
    background: none;
}
.heart-icon path {
	fill: none;
	stroke-width: 2;
	stroke: #1b1b1b;
	fill: red;
    background: none;
}
.favorisDiv img{
    width: 330px;
    height: 450px;
}
.favorisDiv h5{
    font-size: 28px;
    position: relative;
    top: -7px;
    left: 5px;
    background: none;
}
.favorisDiv h6{
    font-size: 26px;
    position: relative;
    top: -7px;
    left: 5px;
    background: none;
}
            /* FOOTER */

.footer{
    background: #1B1B1B;
    position: relative;
    height: 520px;
    margin-top: 200px;
    width: 100vw;
    font-family: var(--main-font);
    cursor: pointer;
}
.footer h2{
    position: relative;
    top: -15px;
    background: none;
    color: #fff;
    padding-top: 34px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    font-weight: 300;
}
.footer .contact-us, .footer img{
    background: none;
}
.footer .contact-us{
    display: flex;
    justify-content: center;
}
.footer img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 10px;
    margin-left: 20px;
    cursor: pointer;
    top: 10px;
}
.footer img:nth-child(6){
    position: relative;
    top: 6px;
    left: -4px;
}


@media screen and (max-width: 1000px){
    #slider-sneakers-homepage{
        width: 400px;
        margin-bottom: -200px;
    }
    #dernieres--sorties{
        margin: 500px 50px 0px 50px;
    }
    .arrows-sneakers-homepage{
        width: 530px;
        left: -65px;
        top: -300px;
        background: none;
    }
    .back, .next{
        width: 150px;
        height: 150px;
    }
    #club--membre{
        margin: 0;
    }
    #bientot--disponible{
        margin: 0;
    }
    #favoris{
        margin: 100px 0;
    }
    .favContainer{
        margin: 0 auto;
    }
}
@media screen and (max-width: 600px){
    #dernieres--sorties{
        margin: 500px 50px 0px 50px;
    }
}
@media screen and (max-width: 400px){
    #club--membre .membre--banner{
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}
